[Unit]
Description=Rubberducky protector

[Service]
Environment="DISPLAY=:0"
ExecStart=/usr/bin/duckydd -c /etc/duckydd/duckydd.conf
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
